
asgiref==3.3.4
boto3==1.11.8
botocore==1.14.8

Django==3.2
django-crispy-forms==1.11.2
django-storages==1.8
docutils==0.15.2
requests==2.24.0
gunicorn==20.0.4
jmespath==0.9.4
Pillow==8.2.0
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.2
six==1.14.0
sqlparse==0.4.1

urllib3==1.25.11
whitenoise==5.0.1